<div class="naz-block uk-background-blend-darken uk-background-primary uk-background-cover" uk-parallax=" bgy: -350">
  <div class="uk-container" style="height: 100%;">
    <div  uk-grid class="uk-flex uk-flex-middle" style="height: 100%;">
      <div class="uk-width-1-2@s uk-width-1-2@m uk-width-1-2@l ">
        <div class="uk-light  uk-text-center uk-text-left@s">
          <h1 class="naz-home-title ">
            Закажите свежую  рыбу  от компании "First Fish Company"
          </h1>
           <p style="color: white;">Начните прямо сейчас</p>
           <button class="naz-button"><span>КУПИТЬ </span></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="uk-container">
  <br><br>
  <div class="uk-text-center uk-margin-top uk-text-lead uk-text-bold uk-visible@s"><h1>Наши продукты</h1></div>
  <div class="uk-text-center uk-margin uk-text-lead  uk-hidden@s">Наши продукты</div>
  <hr class="uk-divider-icon">
  <div uk-grid class="uk-flex uk-flex-middle" >
    <div class="uk-width-1-2@s uk-visible@s" uk-scrollspy="cls: uk-animation-slide-left;">
        <div uk-lightbox>
          <a href="/assets/oas-1.jpg">
            <div class="uk-card uk-card-default uk-card-body uk-text-center">
              <img src="/assets/oas-1.jpg" alt="">
            </div>
          </a>
        </div>
    </div>
    <div class="uk-width-1-2@s" uk-scrollspy="cls: uk-animation-slide-right; ">
      <div class="">
        <h3 class="uk-text-center uk-margin-top">Осетр и стерлядь</h3>
        <p>&#160; &#160; &#160; В кулинарии из стерляди готовят самые разнообразные и изысканные блюда, не случайно издавна
          ее называли «царской рыбой». На трапезах монархов блюда из стерляди подавались в первую очередь.
          Классическое блюдо – стерляжья уха, она получается особенно вкусной с добавлением шампанского.
          Стерлядь можно также приготовить на пару, запечь, пожарить и потушить.
          Из этой рыбы получается прекрасное заливное и студень, а также начинка для пирогов и расстегаев.
          Стерлядь паровую или горячего копчения используют в салатах.
        </p>
      </div>
    </div>
    <div class="uk-width-1-2@s uk-hidden@s" uk-scrollspy="cls: uk-animation-slide-left;">
        <div uk-lightbox>
          <a href="/assets/oas-1.jpg">
            <div class="uk-card uk-card-default uk-card-body uk-text-center">
              <img src="/assets/oas-1.jpg" alt="">
            </div>
          </a>
        </div>
    </div>
  </div>
  <div uk-grid class="uk-flex uk-flex-middle" >
    <div class="uk-width-1-2@s" uk-scrollspy="cls: uk-animation-slide-left; ">
      <div class="">
        <h3 class="uk-text-center uk-margin-top">Форель</h3>
        <p>&#160; &#160; &#160; Мясо радужной форели, как и многих других видов рыб, содержит в себе
          большое количество легкоусвояемого белка и при этом является малокалорийным. Рыба форель радужная
          содержит в себе жирные кислоты омега-3, важные жирорастворимые витамины А, D, Е,
           водорастворимые витамины группы В, а также следующие микроэлементы: калий,  селен,  цинк,
           магний,  железо,  натрий и фосфор
        </p>
      </div>
    </div>
    <div class="uk-width-1-2@s" uk-scrollspy="cls: uk-animation-slide-right; ">
        <div uk-lightbox>
          <a href="/assets/forel-3.JPG">
            <div class="uk-card uk-card-default uk-card-body uk-text-center">
              <img src="/assets/forel-3.JPG" alt="">
            </div>
          </a>
        </div>
    </div>
  </div>
  <br>  <br>
  <div class="uk-text-center uk-margin-top uk-text-lead uk-text-bold uk-visible@s"><h1>Наша технология</h1></div>
  <div class="uk-text-center uk-margin uk-text-lead  uk-hidden@s">Галерея</div>
  <hr class="uk-divider-icon">
  <div class="uk-margin uk-position-relative uk-visible-toggle uk-light" uk-slider="clsActivated: uk-transition-active; center: true" uk-scrollspy="cls: uk-animation-fade;">
    <ul class="uk-slider-items uk-grid">
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="/assets/tech/s1.jpg" alt="">
                <div class="uk-visible@s uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Технология выращивания</h3>
                    <p class="uk-margin-remove">Технология выращивания рыбы на нашем предприятии разделена на 3 основные части</p>
                </div>
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="/assets/tech/s2.jpg" alt="">
                <div class="uk-visible@s uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Инкубационные цеха</h3>
                    <p class="uk-margin-remove">В данном цеху возможно получить до 10 млн. личинок карповых за один тур</p>
                </div>
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="/assets/tech/s3.jpg" alt="">
                <div class="uk-visible@s uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">УЗВ для разведения осетровых</h3>
                    <p class="uk-margin-remove">Для работы данных  мы используем воду из собственной скважины.
                      Использование такой системы позволяет нам круглогодично получать товарную
                      рыбу в независимости от времени года и погодных условий.  </p>
                </div>
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="/assets/tech/s4.jpg" alt="">
                <div class="uk-visible@s uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Открытые бассейны</h3>
                    <p class="uk-margin-remove">Для разведения радужной форели мы используем открытые бассейны проточного типа.
                       Всего на территории нашего хозяйства расположено 10 бассейнов, общим объемом 4500 м.куб. </p>
                </div>
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="/assets/tech/s5.jpg" alt="">
                <div class="uk-visible@s  uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Результаты</h3>
                    <p class="uk-margin-remove"> Наличие постоянно свежей родниковой воды,
                      вкупе с использованием качественного европейского корма, обеспечивает отличное качество и вкус выращенной у нас рыбы. </p>
                </div>
            </div>
        </li>
    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
</div>
</div>
<br><br>
<div class="uk-text-center uk-margin-top uk-text-lead uk-text-bold uk-visible@s"><h1>Наши контакты</h1></div>
<div class="uk-text-center uk-margin uk-text-lead  uk-hidden@s">Наши контакты</div>
<hr class="uk-divider-icon">
<div class="uk-container">
  <div uk-grid class="uk-flex uk-flex-middle">
    <div class="uk-width-1-2@s"  uk-scrollspy="cls: uk-animation-slide-left; ">
      <div uk-lightbox>
        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23537.331106295354!2d70.27164443099396!3d42.48801516426381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a89aff46363e99%3A0x25fdbcbcc8b1d61f!2z0KLRjtC70YzQutGD0LHQsNGB!5e0!3m2!1sru!2skz!4v1541960099088" data-type="iframe">
          <div class="uk-card uk-card-default uk-card-body uk-text-center uk-card-hover">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23537.331106295354!2d70.27164443099396!3d42.48801516426381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a89aff46363e99%3A0x25fdbcbcc8b1d61f!2z0KLRjtC70YzQutGD0LHQsNGB!5e0!3m2!1sru!2skz!4v1541960099088" width="100%" height="400 frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </a>
      </div>
    </div>
    <div class="uk-width-1-2@s uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; ">
      <h3 class="uk-card-title">Информация</h3>
      <ul class="uk-list uk-list-bullet">
        <li>Шымкент, ул Еримбетова 52</li>
        <li>Тел: +7 (7252) 47-40-97</li>
        <li>Доп. тел: +7 (705) 435-03-93 доб. 201</li>
    </ul>
    <h3 class="uk-card-title">Часы и график работы</h3>
    <ul class="uk-list uk-list-bullet">
      <li>Понедельник 9:00 – 18:00, обед 13:00 – 14:00</li>
      <li>Вторник 9:00 – 18:00, обед 13:00 – 14:00</li>
      <li>Среда 9:00 – 18:00, обед 13:00 – 14:00</li>
      <li>Четверг 9:00 – 18:00, обед 13:00 – 14:00</li>
      <li>Пятница 9:00 – 18:00, обед 13:00 – 14:00</li>
      <li>Суббота выходной</li>
      <li>Воскресенье выходной</li>
    </ul>
    </div>
  </div>
</div>
