<div class="">
  <nav class="uk-navbar-container" uk-sticky="show-on-up: true; animation: uk-animation-slide-top" uk-navbar>
    <div class="uk-navbar-left">
      <a href="#" class="uk-navbar-item uk-logo">
        <img src="/assets/logo-ffc.jpg" alt="logo" width="34px" class="uk-margin-small-right">
        FirstFish
      </a>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav uk-visible@m">
        <li><a href="#">Осетр и стерлядь</a></li>
        <li><a href="#">Форель</a></li>
        <li class="uk-active"><a href="#">Где приобрести</a></li>
        <li><a href="#">Контакты</a></li>
        <li>
          <a href="#">Информация</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li class="uk-active"><a href="#">Технология</a></li>
              <li><a href="">Воспроизводство</a></li>
              <li><a href="">О нас</a></li>
            </ul>
          </div>
        </li>
        <li><a></a></li>
      </ul>
      <ul class="uk-navbar-nav ">
        <li>  <i uk-toggle="target: #bok-menu" class="uk-hidden@m  fas fa-bars" ></i><li>
      <ul>
    </div>
  </nav>
  <div id="bok-menu" uk-offcanvas="mode: push; overlay: true; ">
      <div class="uk-offcanvas-bar">
        <div class="uk-panel">
        <ul class="uk-nav uk-nav-default">
          <li class="uk-nav-header">Навигация</li>
          <hr>
          <li><a href="#"><i class="fas fa-home uk-margin-small-right"></i> Главная</a></li>
          <li><a href="#"><i class="fas fa-fish uk-margin-small-right"></i> Осетр и стерлядь</a></li>
          <li><a href="#"><i class="fas fa-anchor uk-margin-small-right"></i> Форель</a></li>
          <li><a href="#"><i class="fas fa-shopping-cart uk-margin-small-right"></i> Где приобрести</a></li>
          <li><a href="#"><i class="fas fa-toolbox uk-margin-small-right"></i> Технология</a></li>
          <li><a href="#"><i class="fas fa-sync-alt uk-margin-small-right"></i> Воспроизводство</a></li>
          <li><a href="#"><i class="fas fa-phone uk-margin-small-right"></i> Контакты</a></li>
          <li><a href="#"><i class="fas fa-info-circle uk-margin-small-right"></i> О нас</a></li>
        </ul>
        </div>
      </div>
  </div>
</div>
