body{
  font-family: Montserrat,Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.naz-block{
  height: 80vh;
  width: 100%;
  background: url("/assets/bg-home.jpg") no-repeat;
  background-size: 100%;
}
.naz-home-title{
  color: white;
  font-weight: 600;
  line-height: 1.2;
  font-size: 45px;
}
.naz-button {
  border-radius: 4px;
  background-color: rgba(30,44,94,.8);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 15px 25px;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
  margin-left: 0px;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.naz-button:hover{
  background-color: rgba(30,44,94,1);
  animation: #ef6eae 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}
@media screen and (max-width: 600px){
  .naz-home-title{
    font-size: 30px;
  }
}
.facebook, .vkontakte, .instagram{
  color: white;
  font-size: 30px;
  overflow: hidden;
  cursor: pointer;
  padding: 10px;
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
  text-align: center;
}
.facebook:hover{
  background-color: #32518F;
}
.vkontakte:hover{
  background-color: #4A76A8;
}
.instagram:hover{
  background-color: #D73587;
}
