<!DOCTYPE html>
<html>
  <head>
    <title>FishCompany</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Контайнер -->
    <div class="naz-container">
      <!-- Шапка -->
      <header class="naz-header">
        <div class="naz-header-all">
          <div class="naz-header-foto">
          </div>
          <div class="naz-header-logo">
          </div>
          <div class="naz-header-menu">            
          </div>

        </div>
      </header>
      <!-- Контент -->
      <div class="naz-content">
        <%= yield %>
      </div>
      <!-- Подвал сайта -->
      <footer class="naz-footer">
        <h1>Footer</h1>
      </footer>

    </div>

  </body>
</html>
